.idea/FrontFilmShop.iml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
frontfilmshop/.browserslistrc
frontfilmshop/.eslintrc.js
frontfilmshop/.gitignore
frontfilmshop/babel.config.js
frontfilmshop/package.json
frontfilmshop/README.md
frontfilmshop/yarn.lock
frontfilmshop/public/favicon.ico
frontfilmshop/public/index.html
frontfilmshop/src/App.vue
frontfilmshop/src/main.js
frontfilmshop/src/assets/logo.png
frontfilmshop/src/components/HelloWorld.vue
frontfilmshop/src/router/index.js
frontfilmshop/src/store/index.js
frontfilmshop/src/views/About.vue
frontfilmshop/src/views/Home.vue
frontfilmshop/vue.config.js
frontfilmshop/src/assets/logo.svg
frontfilmshop/src/plugins/vuetify.js
